<div class="side-bar-loader" [hidden]="!isTreeLoading">
    <img src="assets/images/spinner.gif" />
</div>
<div class="content-tree">
    <ul class="content-tree-main">
        <ng-container *ngFor="let root of tree.Roots" [ngTemplateOutlet]="childTemplate"
            [ngTemplateOutletContext]="{item:root}">
        </ng-container>
    </ul>
    <div class="context-menu" [hidden]="contextMenu.hidden" [style.top]="contextMenu.y" [style.left]="contextMenu.x">
        <ul>
            <li *ngFor="let item of contextMenu.items" (click)="processCommand(item)">
                <i class="{{getIcon(item.Icon)}}"></i>
                <label title="{{item.Hint}}">{{item.Title}}</label>
            </li>
        </ul>
    </div>
</div>
<ng-template #childTemplate let-item="item">
    <li>
        <span class="tree-node" (contextmenu)="openContextMenu($event, item)">
            <i class="fa fa-caret-right" [hidden]="item.Open" (click)="expandNode(item)"></i>
            <i class="fa fa-caret-down" [hidden]="!item.Open" (click)="expandNode(item)"></i>
            <label (click)="onSelectNode(item)" [class]="activeNode && item.Id === activeNode.Id ? 'active' : ''">
                <i class="{{getNodeIcon(item)}}"></i>
                {{item.Name}}
            </label>
        </span>
    </li>
    <ul *ngIf="item.Open && item.ChildNodes.length > 0">
        <ng-container *ngFor="let child of item.ChildNodes" [ngTemplateOutlet]="childTemplate"
            [ngTemplateOutletContext]="{item:child}">
        </ng-container>
    </ul>
</ng-template>

<ng-template #confirmDeleteDialog let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirm delete</h4>
        <button type="button" class="close" aria-label="Close" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete: {{activeNode.Name}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="confirmDelete()">Confirm</button>
        <button type="button" class="btn btn-secondary" (click)="c()">Cancel</button>
    </div>
</ng-template>