.content-tree {
  margin-top: 10px;
  ul.content-tree-main {
    padding-left: 0px;
    li {
      padding: 5px;
      list-style: none;
      .tree-node {
        display: flex;
        align-items: center;
        > label {
          display: flex;
          cursor: pointer;
          padding: 4px;
          margin-bottom: 0px;
          &:hover {
            background-color: #f1f4f6;
          }
          &.active{
            background-color: #d9dbdc;
          }
          > i {
            color: #000;
            font-weight: bold;
            font-size: 18px;
            vertical-align: middle;
            margin-right: 4px;
          }
        }
        > i {
          cursor: pointer;
          padding: 3px;
        }
      }
    }
    ul {
      padding-left: 20px;
    }
  }
  .context-menu {
    position: fixed;
    z-index: 1000;
    ul {
      padding-left: 0px;
      border: 0.5px solid #cbccce;
      border-bottom: none;
      box-shadow: 1px 2px 5px 0px #6c757d;
      li {
        list-style-type: none;
        padding: 5px 10px;
        border-bottom: 0.5px solid #cbccce;
        min-width: 150px;
        background-color: #fff;
        > * {
          cursor: pointer;
        }
        > label {
          margin-bottom: 0px;
          padding-left: 10px;
        }
        > i {
          width: 15px;
        }
        cursor: pointer;
        &:hover {
          color: #fff;
          background: #6c757d;
        }
      }
    }
  }
}
