.multilist-renderer {
  display: flex;
  width: 60%;
  .arrow-btn-group {
    margin: auto;
    text-align: center;
    min-width: 30px;
    button {
      display: block;
    }
  }
  .select-group {
    width: calc(50% - 40px);
    &:first-child {
      max-height: 250px;
      border-radius: 5px;
      overflow: scroll;
      border: 1px solid #cbccce;
    }
    > ul {
      padding-left: 0px;
      border: 1px solid #ced4da;
      border-radius: 5px;
      margin-bottom: 0px;
      overflow: scroll;
      height: 250px;
      li {
        list-style: none;
        padding-left: 5px;
        padding-bottom: 5px;
        padding-top: 5px;
        cursor: pointer;
        border-bottom: 1px solid #ced4da;
        &.active {
          background-color: lightgray;
        }
      }
    }
  }
}
