<div>
    <label>{{innerField.field | templateName}}: <span class="red" [hidden]="!field.field.IsRequired">*</span></label>
    <div class="rendering-list-wrapper ">
        <div cdkDropList class="rendering-list" (cdkDropListDropped)="drop($event)">
            <div class="rendering-box" *ngFor="let rendering of renderings" cdkDrag [cdkDragDisabled]="!isEditable">
                {{getRenderingName(rendering.RenderingId)}}
                <span (click)="openContextMenu($event, rendering)" [hidden]="!isEditable">
                    <i class="fa fa-bars"></i>
                </span>
            </div>
            <a href="javascript:void(0)" (click)="openDialog()" [hidden]="!isEditable">Add More</a>
        </div>
        <div class="context-menu" [hidden]="contextMenu.hidden || !isEditable" [style.top]="contextMenu.y"
            [style.left]="contextMenu.x">
            <ul>
                <li (click)="editRendering()">
                    <i class="fa fa-pencil-alt"></i>
                    <label>Edit</label>
                </li>
                <li (click)="removeRendering()">
                    <i class="fa fa-times"></i>
                    <label>Delete</label>
                </li>
            </ul>
        </div>
    </div>
</div>