<h4 class="modal-title" mat-dialog-title>Select Icon</h4>
<div class="modal-body icon-dialog" mat-dialog-content>
    <div class="form-row">
        <div class="col-md-12">
            <div class="row">
                <div *ngFor="let icon of iconLookup; let i = index"
                    class="col-2 icon-tile {{icon.code === selectedIcon ? 'active' : ''}}" (click)="select(icon)">
                    <i class="{{icon.icon}}"></i>
                    <label>{{icon.code}}</label>
                </div>
            </div>
            <div class="pull-right">
                <button type="button" class="btn btn-primary" (click)="onSubmit()">Submit</button>
                <button type="button" class="btn btn-secondary m-lg-2" mat-dialog-close>Cancel</button>
            </div>
        </div>
    </div>
</div>