<configuration>
  <pipelines>
    <cms.contentTree.getRoots>
      <processor type="Sunday.ContentManagement.Implementation.Pipelines.ContentTrees.GetRoots, Sunday.ContentManagement.Implementation"></processor>
    </cms.contentTree.getRoots>
    <cms.contentTree.getChilds>
      <processor type="Sunday.ContentManagement.Implementation.Pipelines.ContentTrees.GetOrganizationsChilds, Sunday.ContentManagement.Implementation"></processor>
      <processor type="Sunday.ContentManagement.Implementation.Pipelines.ContentTrees.GetWebsiteChilds, Sunday.ContentManagement.Implementation"></processor>
      <processor type="Sunday.ContentManagement.Implementation.Pipelines.ContentTrees.GetContentChilds, Sunday.ContentManagement.Implementation"></processor>
    </cms.contentTree.getChilds>
    <cms.contentTree.getContextMenu>
      <processor type="Sunday.ContentManagement.Implementation.Pipelines.ContentTrees.GetWebsiteContextMenu, Sunday.ContentManagement.Implementation"></processor>
      <processor type="Sunday.ContentManagement.Implementation.Pipelines.ContentTrees.GetContentContextMenu, Sunday.ContentManagement.Implementation"></processor>
    </cms.contentTree.getContextMenu>
    <cms.contentTree.getByPath>
      <processor type="Sunday.ContentManagement.Implementation.Pipelines.ContentTrees.GetTreeByPath, Sunday.ContentManagement.Implementation"></processor>
    </cms.contentTree.getByPath>
    <cms.entity.getDependants>
      <processor type="Sunday.ContentManagement.Implementation.Pipelines.CacheDependencies.GetContentDependants, Sunday.ContentManagement.Implementation"></processor>
    </cms.entity.getDependants>
    <cms.entity.getMasters>
      <processor type="Sunday.ContentManagement.Implementation.Pipelines.CacheDependencies.GetContentMasters, Sunday.ContentManagement.Implementation"></processor>
      <processor type="Sunday.ContentManagement.Implementation.Pipelines.CacheDependencies.GetTemplateMasters, Sunday.ContentManagement.Implementation"></processor>
    </cms.entity.getMasters>
  </pipelines>
</configuration>