@using Sunday.Portfolio.Project.Components
@model AboutMeViewComponent.AboutMeBlock
<div class="container">
    <div class="section-heading">
        <h2>@Model.Heading</h2>
        <div class="line-dec"></div>
        <span>
            @Model.Subheading
        </span>
    </div>
</div>