@using Sunday.ContentDelivery.Framework.Extensions
@using Sunday.ContentManagement.Extensions
@{
    var currentPage = Context.CurrentPage();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
          rel="stylesheet" />

    <title>@currentPage.TextValue("PageTitle")</title>
    <link rel="stylesheet" href="dist/css/style.min.css" />
</head>

<body>
    <div id="page-wraper">
        @RenderBody()
    </div>
    <script src="dist/js/vendor.min.js"></script>
    <script src="dist/js/site.min.js"></script>
</body>
</html>
