@using Sunday.ContentDelivery.Framework.Extensions
@using Sunday.ContentManagement.Extensions
@{
    var currentPage = Context.CurrentPage();
    Context.CurrentWebsite()!.Properties.TryGetValue("GTM-ID", out var gtmId);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
          rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <title>@currentPage.TextValue("PageTitle")</title>
    <link rel="stylesheet" href="dist/css/style.min.css" />
    <meta name="description" content="@currentPage.TextValue("PageContent")">
    <meta name="keywords" content="@currentPage.TextValue("PageKeywords")">
    <meta name="author" content="James Tran">
    @if (!string.IsNullOrEmpty(gtmId))
    {
        <!-- Google Tag Manager -->
        <script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', '@gtmId');</script>
        <!-- End Google Tag Manager -->
    }
</head>

<body>
    @if (!string.IsNullOrEmpty(gtmId))
    {
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=@gtmId"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
    }
    <div id="page-wraper">
        @RenderBody()
    </div>
    <script src="dist/js/vendor.min.js"></script>
    <script src="dist/js/site.min.js"></script>
</body>
</html>
