<configuration>
  <pipelines>
    <initialize>
      <processor type="Sunday.CMS.Core.Pipelines.Initialization.AddCorsPolicy, Sunday.CMS.Core"></processor>
      <processor type="Sunday.CMS.Core.Pipelines.Initialization.AddMvc, Sunday.CMS.Core"></processor>
      <processor type="Sunday.Core.DataAccess.Pipelines.Initialization.UpdateDatabaseSchema, Sunday.Core.DataAccess"></processor>
      <processor type="Sunday.Core.DataAccess.Pipelines.Initialization.DatabaseSeeding, Sunday.Core.DataAccess"></processor>
      <processor type="Sunday.Core.Framework.Pipelines.Initialization.AutomapBootstrap, Sunday.Core.Framework"></processor>
      <processor type="Sunday.Core.Media.Pipelines.Initialization.ResolveBlobProvider, Sunday.Core.Media"></processor>
    </initialize>
    <buildApplication>
      <processor type="Sunday.Core.Media.Pipelines.BuildApplication.AddBlobPreviewLinkMiddleware, Sunday.Core.Media"></processor>
    </buildApplication>
  </pipelines>
  <settings>
  </settings>
</configuration>