<configuration>
  <pipelines>
    <pipeline name="initialize">
      <processor type="Sunday.Core.DataAccess.Pipelines.Initialization.UpdateDatabaseSchema, Sunday.Core.DataAccess"></processor>
      <processor type="Sunday.Core.DataAccess.Pipelines.Initialization.DatabaseSeeding, Sunday.Core.DataAccess"></processor>
    </pipeline>
  </pipelines>
  <settings>
  </settings>
</configuration>