<configuration>
  <pipelines>
    <pipeline name="initialize">
      <processor type="Sunday.CMS.Core.Pipelines.Initialization.AddCorsPolicy, Sunday.CMS.Core"></processor>
      <processor type="Sunday.CMS.Core.Pipelines.Initialization.AddMvc, Sunday.CMS.Core"></processor>
      <processor type="Sunday.Core.DataAccess.Pipelines.Initialization.UpdateDatabaseSchema, Sunday.Core.DataAccess"></processor>
      <processor type="Sunday.Core.DataAccess.Pipelines.Initialization.DatabaseSeeding, Sunday.Core.DataAccess"></processor>
      <processor type="Sunday.Core.Framework.Pipelines.Initialization.AutomapBootstrap, Sunday.Core.Framework"></processor>
    </pipeline>
    <pipeline name="cms.users.beforeCreate">
      <processor type="Sunday.CMS.Core.Pipelines.Users.TranslateMutationData, Sunday.CMS.Core"></processor>
      <processor type="Sunday.CMS.Core.Pipelines.Users.ValidateUsername, Sunday.CMS.Core"></processor>
      <processor type="Sunday.Core.Pipelines.EntityChanged.TrackEntityChange, Sunday.Core"></processor>
      <processor type="Sunday.CMS.Core.Pipelines.Users.EncryptPassword, Sunday.CMS.Core"></processor>
    </pipeline>
    <pipeline name="cms.users.beforeUpdate">
      <processor type="Sunday.CMS.Core.Pipelines.Users.TranslateMutationData, Sunday.CMS.Core"></processor>
      <processor type="Sunday.Core.Pipelines.EntityChanged.TrackEntityChange, Sunday.Core"></processor>
    </pipeline>
    <pipeline name="cms.roles.getAvailable">
      <processor type="Sunday.CMS.Core.Pipelines.Roles.GetAllRoles, Sunday.CMS.Core"></processor>
      <processor type="Sunday.CMS.Core.Pipelines.Roles.FilterAdminRoles, Sunday.CMS.Core"></processor>
    </pipeline>
  </pipelines>
  <settings>
  </settings>
</configuration>