<h4 class="modal-title" mat-dialog-title>Change password</h4>
<div class="modal-body" mat-dialog-content>
    <form (ngSubmit)="onSubmit(passwordForm.value)" [formGroup]="passwordForm" autocomplete="off" #ngForm="ngForm">
        <div class="form-row">
            <div class="col-md-12">
                <div class="position-relative form-group">
                    <label for="OldPwd" class="username">Old Password <span class="red">*</span></label>
                    <input name="OldPwd" placeholder="Old Password here..." type="password" class="form-control"
                        formControlName="OldPwd" autocomplete="off" required>
                    <span class="text-danger"
                        [hidden]="!(ngForm.submitted && passwordForm.controls['OldPwd'].hasError('required'))">This
                        field is required</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="position-relative form-group">
                    <label for="NewPwd" class="username">New Password <span class="red">*</span></label>
                    <input name="NewPwd" placeholder="New Password here..." type="password" class="form-control"
                        formControlName="NewPwd" autocomplete="off" required>
                    <span class="text-danger"
                        [hidden]="!(ngForm.submitted && passwordForm.controls['NewPwd'].hasError('required'))">This
                        field is required</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="position-relative form-group">
                    <label for="NewPwdConfirm" class="username">Confirm Password <span class="red">*</span></label>
                    <input name="NewPwdConfirm" placeholder="Confirm Password here..." type="password" class="form-control"
                        formControlName="NewPwdConfirm" autocomplete="off" required>
                    <span class="text-danger"
                        [hidden]="!(ngForm.submitted && passwordForm.controls['NewPwdConfirm'].hasError('required'))">This
                        field is required</span>
                    <span class="text-danger"
                        [hidden]="!(ngForm.submitted && passwordForm.controls['NewPwdConfirm'].value && passwordForm.controls['NewPwd'].value
                                    && passwordForm.controls['NewPwdConfirm'].value !== passwordForm.controls['NewPwd'].value )">Password
                        mismatch</span>
                </div>
            </div>
        </div>
        <div class="pull-right">
            <button type="submit" class="btn btn-primary">Confirm</button>
            <button type="button" class="btn btn-secondary m-lg-2" mat-dialog-close>Cancel</button>
        </div>
    </form>
</div>