<div class="side-bar-loader" [hidden]="!clientState.isNavigationBusy">
  <img src="assets/images/spinner.gif" />
</div>
<div class="app-sidebar__inner">
  <ul class="vertical-nav-menu" [hidden]="clientState.isNavigationBusy">
    <ng-container *ngFor="let section of navigationTree.Sections">
      <li class="app-sidebar__heading">
        {{section.Section}}
      </li>
      <li *ngFor="let item of section.Items">
        <a [routerLink]="[item.Link]">
          <i [class]="'metismenu-icon ' + item.IconClass"></i>
          {{item.Title}}
        </a>
      </li>
    </ng-container>
  </ul>
</div>