<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="{{getIcon()}}"></i>
            </div>
            <div>{{content.Name}}
                <div class="page-title-subheading">{{content.Id}}</div>
            </div>
        </div>
        <div class="page-title-actions">
            <div class="d-inline-block dropdown">
                <button type="button"
                    class="btn-shadow dropdown-toggle btn {{activeVersion?.Status === contentStatuses.draft ? 'btn-primary' : 'btn-secondary'}}"
                    (click)="toggleMenu()">
                    <span class="btn-icon-wrapper pr-2 opacity-7">
                        <i class="fa fa-business-time fa-w-20"></i>
                    </span>
                    Version {{activeVersion?.Version}} ({{versionStatus}})
                </button>
                <div class="dropdown-menu dropdown-menu-right {{showMenu ? 'show' : ''}}">
                    <ul class="nav flex-column">
                        <li class="nav-item" [hidden]="activeVersion?.Status != contentStatuses.draft"
                            (click)="saveContent()">
                            <a class="nav-link">
                                <i class="nav-link-icon lnr-inbox"></i>
                                <span>Save</span>
                            </a>
                        </li>
                        <li class="nav-item" [hidden]="activeVersion?.Status != contentStatuses.draft || !activeVersion.IsActive"
                            (click)="openDialog(confirmPublishDialog)">
                            <a class="nav-link">
                                <i class="nav-link-icon lnr-rocket"></i>
                                <span>Publish</span>
                            </a>
                        </li>
                        <li class="nav-item" (click)="openDialog(confirmCreateVersionDialog)">
                            <a class="nav-link">
                                <i class="nav-link-icon lnr-upload"></i>
                                <span>New Version From [{{activeVersion?.Version}}]</span>
                            </a>
                        </li>
                        <li class="nav-item" [hidden]="content.Versions.length === 1">
                            <a class="nav-link">
                                <i class="nav-link-icon lnr-book"></i>
                                <span>Other Versions </span>
                                <span class="badge badge-pill badge-primary">{{content.Versions.length - 1}}</span>
                            </a>
                            <div class="dropdown-menu version-menu">
                                <ul class="nav flex-column">
                                    <li class="nav-item" *ngFor="let version of content.Versions"
                                        [hidden]="version.VersionId === activeVersion?.VersionId">
                                        <a class="nav-link" (click)="switchVersion(version.VersionId)">Version
                                            {{version.Version}} ({{getVersionStatus(version.Status)}})</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tab-content">
    <div class="tab-pane active show" id="tab-faq-1">
        <div id="accordion" class="accordion-wrapper mb-3">
            <div class="card">
                <div class="card-header">
                    <button type="button" class="text-left m-0 p-0 btn btn-link btn-block">
                        <h5 class="m-0 p-0">Metadata</h5>
                    </button>
                </div>
                <div class="collapse show">
                    <div class="card-body">
                        <table class="content-metadata">
                            <tbody>
                                <tr>
                                    <td>ID: </td>
                                    <td>{{content.Id}}</td>
                                </tr>
                                <tr>
                                    <td>Name: </td>
                                    <td>{{content.Name}} - [{{content.DisplayName}}]</td>
                                </tr>
                                <tr>
                                    <td>Template: </td>
                                    <td>{{content.Template.TemplateName}} - {{content.TemplateId}}</td>
                                </tr>
                                <tr>
                                    <td>Path: </td>
                                    <td>{{content.NamePath | beautifyPath}}</td>
                                </tr>
                                <tr>
                                    <td>Created: </td>
                                    <td>{{content.CreatedDate | unixToDatetime : 'DD/MM/YYYY HH:mm'}} by
                                        <b>[{{content.CreatedBy}}]</b></td>
                                </tr>
                                <tr>
                                    <td>Updated: </td>
                                    <td>{{content.UpdatedDate | unixToDatetime : 'DD/MM/YYYY HH:mm'}} by
                                        <b>[{{content.UpdatedBy}}]</b></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <button type="button" class="text-left m-0 p-0 btn btn-link btn-block">
                        <h5 class="m-0 p-0">Properties</h5>
                    </button>
                </div>
                <div class="collapse show">
                    <div class="card-body">
                        <app-fields-renderer [(fields)]="fields" [formSubmitted]="isSubmitted"
                            [isEditable]="isEditable"></app-fields-renderer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #confirmPublishDialog let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirm Publish</h4>
        <button type="button" class="close" aria-label="Close" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to publish this content</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="publishContent()">Confirm</button>
        <button type="button" class="btn btn-secondary" (click)="c()">Cancel</button>
    </div>
</ng-template>

<ng-template #confirmCreateVersionDialog let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirm Create Version</h4>
        <button type="button" class="close" aria-label="Close" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to create a new version</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="createNewVersion()">Confirm</button>
        <button type="button" class="btn btn-secondary" (click)="c()">Cancel</button>
    </div>
</ng-template>