<configuration>
  <settings>
    <setting name="Sunday.BaseMediaUrl" value="https://localhost:6001"></setting>
  </settings>
  <blob provider="Sunday.Core.Media.Implementation.FileBlobProvider, Sunday.Core.Media">
    <basePath>D:\tmp\images</basePath>
    <useRelativePath>true</useRelativePath>
  </blob>
</configuration>