<app-page-heading [title]="formTitle"></app-page-heading>
<div class="row">
    <div class="col-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <form (ngSubmit)="onSubmit(dataForm.value)" [formGroup]="dataForm" autocomplete="off" #ngForm="ngForm">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="RenderingName">Rendering Name: <span class="red">*</span></label>
                                <input name="RenderingName" placeholder="Rendering Name here..." type="text"
                                    class="form-control" formControlName="RenderingName" autocomplete="off" required
                                    [(ngModel)]="current.RenderingName">
                                <span class="text-danger"
                                    [hidden]="!(ngForm.submitted && dataForm.controls['RenderingName'].hasError('required'))">This
                                    field is required</span>
                            </div>
                            <div class="position-relative form-group"
                                [hidden]="!current.RenderingType || !IsPageRendering">
                                <label for="Controller">Controller: <span class="red">*</span></label>
                                <input name="Controller" placeholder="Controller here..." type="text"
                                    class="form-control" formControlName="Controller" autocomplete="off"
                                    [required]="IsPageRendering ? true : null" [(ngModel)]="current.Controller">
                                <span class="text-danger"
                                    [hidden]="!(ngForm.submitted && dataForm.controls['Controller'].hasError('required'))">This
                                    field is required</span>
                            </div>
                            <div class="position-relative form-group"
                                [hidden]="!current.RenderingType || !IsPageRendering">
                                <label for="Action">Action: <span class="red">*</span></label>
                                <input name="Action" placeholder="Action here..." type="text" class="form-control"
                                    formControlName="Action" autocomplete="off"
                                    [required]="IsPageRendering ? true : null" [(ngModel)]="current.Action">
                                <span class="text-danger"
                                    [hidden]="!(ngForm.submitted && dataForm.controls['Action'].hasError('required'))">This
                                    field is required</span>
                            </div>
                            <div class="position-relative form-group"
                                [hidden]="!current.RenderingType || IsPageRendering">
                                <label for="Component">Component: <span class="red">*</span></label>
                                <input name="Component" placeholder="Component here..." type="text" class="form-control"
                                    formControlName="Component" autocomplete="off"
                                    [required]="IsPageRendering ? null : true" [(ngModel)]="current.Component">
                                <span class="text-danger"
                                    [hidden]="!(ngForm.submitted && dataForm.controls['Component'].hasError('required'))">This
                                    field is required</span>
                            </div>
                            <div class="position-relative form-group">
                                <label for="RenderingType" class="">Rendering Type: <span class="red">*</span></label>
                                <ng-select [items]="renderingTypes" (change)="onPageRenderingChanged()"
                                    formControlName="RenderingType" [(ngModel)]="current.RenderingType" bindValue="Code"
                                    bindLabel="DisplayName" [searchable]="false"
                                    [placeholder]="'Select rendering type'">
                                    <ng-option [value]="">Select rendering type</ng-option>
                                </ng-select>
                            </div>
                            <div class="position-relative form-group">
                                <label for="IsRequireDatasource" class="">Require Datasource:</label>
                                <div class="custom-checkbox custom-control">
                                    <input type="checkbox" id="exampleCustomCheckbox5" class="custom-control-input"
                                        formControlName="IsRequireDatasource"
                                        (change)="current.IsRequireDatasource = !current.IsRequireDatasource;"
                                        [checked]="current.IsRequireDatasource"
                                        [attr.disabled]="IsPageRendering ? true : null">
                                    <label class="custom-control-label" for="exampleCustomCheckbox5">&nbsp;</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="DatasourceTemplate">Datasource Template: <span class="red"
                                        [hidden]="!current.IsRequireDatasource">*</span></label>
                                <app-template-selector-button [(selectedTemplates)]="selectedTemplates"
                                    [readonly]="!current.IsRequireDatasource || IsPageRendering">
                                </app-template-selector-button>
                                <span class="text-danger"
                                    [hidden]="!(ngForm.submitted && current.IsRequireDatasource && !current.DatasourceTemplate)">This
                                    field is required</span>
                            </div>
                            <div class="position-relative form-group">
                                <label for="DatasourceLocation">Datasource Location: <span class="red"
                                        [hidden]="!current.IsRequireDatasource">*</span></label>
                                <input name="DatasourceLocation" placeholder="Datasource Location here..." type="text"
                                    class="form-control" formControlName="DatasourceLocation" autocomplete="off"
                                    [(ngModel)]="current.DatasourceLocation"
                                    [readonly]="!current.IsRequireDatasource || IsPageRendering"
                                    [required]="current.IsRequireDatasource">
                                <span class="text-danger"
                                    [hidden]="!(ngForm.submitted && current.IsRequireDatasource && !current.DatasourceLocation)">This
                                    field is required</span>
                            </div>
                            <div class="position-relative form-group">
                                <label>Rendering Access:</label>
                                <app-entity-access-editor [(entityAccess)]="current.Access"></app-entity-access-editor>
                            </div>
                        </div>
                    </div>
                    <button class="mt-1 ml-2 btn btn-light pull-right"
                        [routerLink]="['/manage-renderings']">Back</button>
                    <button class="mt-1 btn btn-primary pull-right">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>