<configuration>
  <pipelines>
    <configureServices>
      <processor type="Sunday.CMS.Core.Pipelines.ConfigureServices.AddCorsPolicy, Sunday.CMS.Core"></processor>
      <processor type="Sunday.CMS.Core.Pipelines.ConfigureServices.AddMvc, Sunday.CMS.Core"></processor>
      <processor type="Sunday.Core.Framework.Pipelines.ConfigureServices.AutomapBootstrap, Sunday.Core.Framework"></processor>
      <processor type="Sunday.Core.Media.Pipelines.ConfigureServices.ResolveBlobProvider, Sunday.Core.Media"></processor>
      <processor type="Sunday.ContentManagement.Implementation.Pipelines.ConfigureServices.AddFieldTypesLoader, Sunday.ContentManagement.Implementation"></processor>
    </configureServices>
    <initialize>
      <processor type="Sunday.DataAccess.SqlServer.Pipelines.Initialization.UpdateDatabaseSchema, Sunday.DataAccess.SqlServer"></processor>
      <processor type="Sunday.DataAccess.SqlServer.Pipelines.Initialization.DatabaseSeeding, Sunday.DataAccess.SqlServer"></processor>
      <processor type="Sunday.Foundation.Implementation.Pipelines.Initialization.ModulesSeeding, Sunday.Foundation.Implementation"></processor>
      <processor type="Sunday.Foundation.Implementation.Pipelines.Initialization.FeaturesSeeding, Sunday.Foundation.Implementation"></processor>
      <processor type="Sunday.Core.Media.Pipelines.BuildApplication.AddBlobPreviewLinkMiddleware, Sunday.Core.Media"></processor>
    </initialize>
    <cms.entity.beforeCreate>
      <processor type="Sunday.Foundation.Implementation.Pipelines.Entity.TrackEntityChange, Sunday.Foundation.Implementation"></processor>
    </cms.entity.beforeCreate>
    <cms.entity.beforeUpdate>
      <processor type="Sunday.Foundation.Implementation.Pipelines.Entity.TrackEntityChange, Sunday.Foundation.Implementation"></processor>
    </cms.entity.beforeUpdate>
  </pipelines>
  <templates>
    <fieldTypes>
      <add id="1">Sunday.ContentManagement.FieldTypeHandlers.SingleLineTextHandler, Sunday.ContentManagement</add>
      <add id="2">Sunday.ContentManagement.FieldTypeHandlers.NumberHandler, Sunday.ContentManagement</add>
      <add id="3">Sunday.ContentManagement.FieldTypeHandlers.RichTextHandler, Sunday.ContentManagement</add>
    </fieldTypes>
  </templates>
  <settings>
    <setting name="Sunday.CMS.SharedHosts" value="localhost"></setting>
  </settings>
</configuration>