.red {
  color: red;
}
.color-box-preview {
  float: right;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
}
.logo-box {
  padding: 10px;
  border: 1px solid #ccc;
  height: 100%;
  img {
    display: block;
    margin: auto;
    max-height: 100%;
  }
}
.hint-text {
  font-style: italic;
  font-size: 12px;
}
.icon-m {
  font-size: 30px;
  color: #000;
  font-weight: bold;
}

ul.common-list {
  padding-left: 0px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin-top: 5px;
  overflow: scroll;
  height: 250px;
  li {
    list-style: none;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    cursor: pointer;
    border-bottom: 1px solid #ced4da;
    &.active{
      background-color: lightgray;
    }
  }
}
