.red {
  color: red;
}
.color-box-preview {
  float: right;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
}
.logo-box {
  padding: 10px;
  border: 1px solid #ccc;
  height: 100%;
  img {
    display: block;
    margin: auto;
    max-height: 100%;
  }
}
.hint-text {
  font-style: italic;
  font-size: 12px;
}
