<configuration>
  <pipelines>
    <cms.organizationRoles.translateToModel>
      <processor type="Sunday.CMS.Core.Pipelines.VirtualRoles.TranslateEntityToModel, Sunday.CMS.Core"></processor>
    </cms.organizationRoles.translateToModel>
    <cms.organizationRoles.beforeCreate>
      <processor type="Sunday.CMS.Core.Pipelines.VirtualRoles.TranslateModelToEntity, Sunday.CMS.Core"></processor>
      <processor type="Sunday.Core.Pipelines.EntityChanged.TrackEntityChange, Sunday.Core"></processor>
    </cms.organizationRoles.beforeCreate>
    <cms.organizationRoles.beforeUpdate>
      <processor type="Sunday.CMS.Core.Pipelines.VirtualRoles.TranslateModelToEntity, Sunday.CMS.Core"></processor>
      <processor type="Sunday.Core.Pipelines.EntityChanged.TrackEntityChange, Sunday.Core"></processor>
    </cms.organizationRoles.beforeUpdate>
  </pipelines>
</configuration>