<configuration>
  <settings>
    <setting name="Sunday.Email.Host" value="smtp.gmail.com"></setting>
    <setting name="Sunday.Email.Port" value="587"></setting>
    <setting name="Sunday.Email.Username" value="cloneclone289@gmail.com"></setting>
    <setting name="Sunday.Email.Password" value="84720197"></setting>
    <setting name="Sunday.Email.From" value="noreply@sunday.com"></setting>
    <setting name="Sunday.Email.EnableSsl" value="true"></setting>
  </settings>
</configuration>