<configuration>
  <pipelines>
    <cms.users.beforeCreate>
      <processor type="Sunday.Foundation.Implementation.Pipelines.Users.ValidateUsernameAndEmail, Sunday.Foundation.Implementation"></processor>
    </cms.users.beforeCreate>
    <cms.users.beforeUpdate>
      <processor type="Sunday.Foundation.Implementation.Pipelines.Users.ValidateUsernameAndEmail, Sunday.Foundation.Implementation"></processor>
    </cms.users.beforeUpdate>
    <cms.roles.getAvailable>
      <processor type="Sunday.CMS.Core.Pipelines.Roles.GetAllRoles, Sunday.CMS.Core"></processor>
      <processor type="Sunday.CMS.Core.Pipelines.Roles.FilterAdminRoles, Sunday.CMS.Core"></processor>
    </cms.roles.getAvailable>
  </pipelines>
</configuration>