<configuration>
  <pipelines>
    <cms.contentTree.getRoots>
      <processor type="Sunday.ContentManagement.Implementation.Pipelines.ContentTrees.GetRoots, Sunday.ContentManagement.Implementation"></processor>
    </cms.contentTree.getRoots>
    <cms.contentTree.getChilds>
      <processor type="Sunday.ContentManagement.Implementation.Pipelines.ContentTrees.GetOrganizationsChilds, Sunday.ContentManagement.Implementation"></processor>
    </cms.contentTree.getChilds>
  </pipelines>
</configuration>