<configuration>
  <pipelines>
    <cms.organizations.beforeUpdate>
      <processor type="Sunday.Organizations.Implementation.Pipelines.TranslateProperties, Sunday.Organizations.Implementation"></processor>
      <processor type="Sunday.Core.Pipelines.EntityChanged.TrackEntityChange, Sunday.Core"></processor>
    </cms.organizations.beforeUpdate>
    <cms.organizations.beforeCreate>
      <processor type="Sunday.Organizations.Implementation.Pipelines.TranslateProperties, Sunday.Organizations.Implementation"></processor>
      <processor type="Sunday.Core.Pipelines.EntityChanged.TrackEntityChange, Sunday.Core"></processor>
    </cms.organizations.beforeCreate>
    <cms.organizations.translateToModel>
      <processor type="Sunday.Organizations.Implementation.Pipelines.TranslatePropertiesToModel, Sunday.Organizations.Implementation"></processor>
    </cms.organizations.translateToModel>
  </pipelines>
</configuration>