<configuration>
  <pipelines>
    <cms.organizations.beforeUpdate>
      <processor type="Sunday.CMS.Core.Pipelines.Organizations.TranslateProperties, Sunday.CMS.Core"></processor>
      <processor type="Sunday.Core.Pipelines.EntityChanged.TrackEntityChange, Sunday.Core"></processor>
    </cms.organizations.beforeUpdate>
    <cms.organizations.beforeCreate>
      <processor type="Sunday.CMS.Core.Pipelines.Organizations.TranslateProperties, Sunday.CMS.Core"></processor>
      <processor type="Sunday.Core.Pipelines.EntityChanged.TrackEntityChange, Sunday.Core"></processor>
    </cms.organizations.beforeCreate>
    <cms.organizations.translateToModel>
      <processor type="Sunday.CMS.Core.Pipelines.Organizations.TranslatePropertiesToModel, Sunday.CMS.Core"></processor>
    </cms.organizations.translateToModel>
  </pipelines>
</configuration>