<configuration>
  <pipelines>
    <cms.users.beforeCreate>
      <processor type="Sunday.CMS.Core.Pipelines.Users.ValidateUsername, Sunday.CMS.Core"></processor>
      <processor type="Sunday.CMS.Core.Pipelines.Users.TranslateOrganizationData, Sunday.CMS.Core"></processor>
      <processor type="Sunday.Core.Pipelines.EntityChanged.TrackEntityChange, Sunday.Core"></processor>
      <processor type="Sunday.CMS.Core.Pipelines.Users.EncryptPassword, Sunday.CMS.Core"></processor>
    </cms.users.beforeCreate>
    <cms.users.beforeUpdate>
      <processor type="Sunday.CMS.Core.Pipelines.Users.TranslateOrganizationData, Sunday.CMS.Core"></processor>
      <processor type="Sunday.CMS.Core.Pipelines.Users.KeepUnchangedData, Sunday.CMS.Core"></processor>
      <processor type="Sunday.Core.Pipelines.EntityChanged.TrackEntityChange, Sunday.Core"></processor>
    </cms.users.beforeUpdate>
    <cms.roles.getAvailable>
      <processor type="Sunday.CMS.Core.Pipelines.Roles.GetAllRoles, Sunday.CMS.Core"></processor>
      <processor type="Sunday.CMS.Core.Pipelines.Roles.FilterAdminRoles, Sunday.CMS.Core"></processor>
    </cms.roles.getAvailable>
    <cms.users.beforeSearch>
      <processor type="Sunday.CMS.Core.Pipelines.Users.Search.ExcludeCurrentUser, Sunday.CMS.Core"></processor>
      <processor type="Sunday.CMS.Core.Pipelines.Users.Search.EnsurePageSize, Sunday.CMS.Core"></processor>
      <processor type="Sunday.CMS.Core.Pipelines.Users.Search.EnsureOrganizationId, Sunday.CMS.Core"></processor>
    </cms.users.beforeSearch>
    <cms.users.afterSearch>
      <processor type="Sunday.CMS.Core.Pipelines.Users.Search.FetchUserRoles, Sunday.CMS.Core"></processor>
      <processor type="Sunday.CMS.Core.Pipelines.Users.Search.FetchOrganizationRoles, Sunday.CMS.Core"></processor>
    </cms.users.afterSearch>
  </pipelines>
</configuration>