<configuration>
  <pipelines>
    <cms.layout.getNavigation>
      <processor type="Sunday.CMS.Core.Pipelines.Layout.Navigation.GetDashboard, Sunday.CMS.Core"></processor>
      <processor type="Sunday.CMS.Core.Pipelines.Layout.Navigation.GetSystemAdminNavigation, Sunday.CMS.Core"></processor>
      <processor type="Sunday.CMS.Core.Pipelines.Layout.Navigation.GetOrganizationAdminNavigation, Sunday.CMS.Core"></processor>
    </cms.layout.getNavigation>
  </pipelines>
</configuration>