<configuration>
  <pipelines>
    <cms.organizationRoles.translateToModel>
      <processor type="Sunday.VirtualRoles.Implementation.Pipelines.TranslateEntityToModel, Sunday.VirtualRoles.Implementation"></processor>
    </cms.organizationRoles.translateToModel>
    <cms.organizationRoles.beforeCreate>
      <processor type="Sunday.VirtualRoles.Implementation.Pipelines.TranslateModelToEntity, Sunday.VirtualRoles.Implementation"></processor>
      <processor type="Sunday.Core.Pipelines.EntityChanged.TrackEntityChange, Sunday.Core"></processor>
    </cms.organizationRoles.beforeCreate>
    <cms.organizationRoles.beforeUpdate>
      <processor type="Sunday.VirtualRoles.Implementation.Pipelines.TranslateModelToEntity, Sunday.VirtualRoles.Implementation"></processor>
      <processor type="Sunday.Core.Pipelines.EntityChanged.TrackEntityChange, Sunday.Core"></processor>
    </cms.organizationRoles.beforeUpdate>
  </pipelines>
</configuration>