<configuration>
  <pipelines>
    <cms.users.beforeCreate>
      <processor type="Sunday.Users.Implementation.Pipelines.Create.ValidateUsername, Sunday.Users.Implementation"></processor>
      <processor type="Sunday.Users.Implementation.Pipelines.Create.TranslateOrganizationData, Sunday.Users.Implementation"></processor>
      <processor type="Sunday.Core.Pipelines.EntityChanged.TrackEntityChange, Sunday.Core"></processor>
      <processor type="Sunday.Users.Implementation.Pipelines.Create.EncryptPassword, Sunday.Users.Implementation"></processor>
    </cms.users.beforeCreate>
    <cms.users.beforeUpdate>
      <processor type="Sunday.Users.Implementation.Pipelines.Create.TranslateOrganizationData, Sunday.Users.Implementation"></processor>
      <processor type="Sunday.Users.Implementation.Pipelines.Update.KeepUnchangedData, Sunday.Users.Implementation"></processor>
      <processor type="Sunday.Core.Pipelines.EntityChanged.TrackEntityChange, Sunday.Core"></processor>
    </cms.users.beforeUpdate>
    <cms.roles.getAvailable>
      <processor type="Sunday.Users.Implementation.Pipelines.Roles.GetAllRoles, Sunday.Users.Implementation"></processor>
      <processor type="Sunday.Users.Implementation.Pipelines.Roles.FilterAdminRoles, Sunday.Users.Implementation"></processor>
    </cms.roles.getAvailable>
    <cms.users.beforeSearch>
      <processor type="Sunday.Users.Implementation.Pipelines.BeforeSearch.ExcludeCurrentUser, Sunday.Users.Implementation"></processor>
      <processor type="Sunday.Users.Implementation.Pipelines.BeforeSearch.EnsurePageSize, Sunday.Users.Implementation"></processor>
      <processor type="Sunday.Users.Implementation.Pipelines.BeforeSearch.EnsureOrganizationId, Sunday.Users.Implementation"></processor>
    </cms.users.beforeSearch>
    <cms.users.afterSearch>
      <processor type="Sunday.Users.Implementation.Pipelines.AfterSearch.FetchUserRoles, Sunday.Users.Implementation"></processor>
      <processor type="Sunday.Users.Implementation.Pipelines.AfterSearch.FetchOrganizationRoles, Sunday.Users.Implementation"></processor>
    </cms.users.afterSearch>
  </pipelines>
</configuration>